@import 'styles.css';
@import 'reset.css';
html{
    font-size: 100%;
    font-family: var(--font-default);
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* HEADER */
.header{
    position: fixed;
    width: 100%;
    height: 4rem;

    background: var(--gradient-main);
    background-color: var(--color-primary);
    box-shadow: rgba(0,0, 0, .3) 0px 3px 3px;
    z-index: 100;
    
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 1rem 3rem 0 3rem;
}

.header--logo a{
    text-decoration: none;
    color: var(--color-light);
}

.header--login{
    background-color: var(--color-light);
    border: none;
    padding:.5rem 1rem;
    text-transform: uppercase;
    color: var(--color-primary-dark);
}
.header--login:hover{
    background-color: var(--color-third);
    color: var(--color-light);
    transition: ease .5s;
}
/* SLIDE */
.section--slide{
    width: 100%;
    height: 600px;
    display: flex;
   
    background-color: var(--color-medium-light);
    /* background-image: url(https://images.unsplash.com/photo-1527224538127-2104bb71c51b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2851&q=80);
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: bottom; */
       
}
.slide__parts{
    width: 50%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.slide--img{
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1502301103665-0b95cc738daf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2800&q=80);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.title{
    color: var(--color-primary-dark);
    font-size: var(--text-xl);
    text-align: center;
    margin: 3rem 3rem 2rem 3rem;
    line-height: normal;
}
.slide--input{
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
    color: var(--color-dark);
    margin-bottom: 2rem;
    width: 80%;
}
.slide--input > input{
    height: 2rem;
    margin-top: .5rem;
    border: none;
    padding: 0 1rem;
    font-style: italic;
}
.btn--fill{
    background-color: var(--color-primary-dark);
    color: var(--color-light);
    border: none;
    padding: 1rem 2rem;
    text-transform: uppercase;
}
/* SUGERENCIAS */
.section__suggestions{
    
    width: 100%;
    
    
}
.suggestions__header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--color-dark);
    font-size: var(--text-l);
    
    margin: 2rem 3rem;
    
}
.suggestions__boxes{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin:  3rem;
    
}
.box--content{
    background-color: wheat;
    height: 500px;


}

/* CIUDADES*/
.section__cities{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.cities__boxes{
    margin: 3rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.cities__card{
    overflow: hidden;
    background-color: firebrick;
    height: 200px;
    position: relative;

}
.cities__card span{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: var(--text-m);
    color: var(--color-light);
}
/* TU RESTAURANTE */
.section__addRestaurant{
    width: 100%;
    height: 300px;
    background-image: url(https://images.unsplash.com/photo-1550966871-3ed3cdb5ed0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    background-color: var(--color-dark);
    background-size: 100%;
    background-position: center;
    position: relative;
    z-index: -2;
    margin-bottom: 3rem;

}
.filter--dark{
    background-color: var(--color-third-extradark);
    opacity: .7;
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: -1;
}
.restaurant__group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    margin: 0 3rem;
}
.restaurant--title{
    color: var(--color-light);
    font-size: var(--text-xl);
    margin-bottom: 3rem;
    
}

/* FOOTER */
.footer{
    background: var(--gradient-main);
    
    width: 100%;
}
.footer--container{
    margin: 3rem;
    color: var(--color-light);
    display: flex;
    justify-content: space-between;
    line-height: normal;
}

.footer--container div p {
    margin-bottom: 1rem;
}
.footer--container div p a{
    text-decoration: none;
    color: var(--color-light);
}
.footer--container div p a:hover{
    color: var(--color-third);
}
.footer--title{
    text-transform: uppercase;
}
.download-app{
    display: flex;
    flex-direction: column;
}
.download-app a img{
    width: 150px;
    margin-bottom: 1rem;
}






/* POP UP LOGIN */
.popUp{
    position: fixed;
    background-color: rgba(29, 54, 52, .8);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    

}
.popUp__content{
    width: 60%;

    background-color: var(--color-medium-light);
    display: flex;
    border: var(--color-light) 1px solid;
    
}
.content--info{
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1488992783499-418eb1f62d08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2053&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.signUp--form{
    width: 50%;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-primary-dark);
    position: relative;
}
.title-popUp{
    font-size: var(--text-l);
    color: var(--color-primary-dark);
    margin-bottom: 2rem;
}
.popUp__form--input{
    display: flex;
    flex-direction: column-reverse;

    width: 100%;
    margin-bottom: 1.5rem;
    
}
.popUp__form--input input{
    border: none;
    height: 2rem;
    margin-top: .5rem;
}
.close{
    position: absolute;
    color: var(--color-primary-dark);
    font-size: var(--text-l);
    top: -1.5rem;
    right: -1.5rem;
}

/* MEDIA QUERIES */
@media (max-width: 1200px){
    main{
        display: flex;
        flex-direction: column;
    }
    .section--slide{
        flex-direction: column;
        padding-bottom: 600px;
        background-color: var(--color-medium-light);

    }
    .slide__parts{
        width: 100%;
    }

}