@import 'in-css.css';
@import 'menu-css.css';

.modal__page--img{
    background-color: rgba(0, 0, 0,.5);
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    opacity: 0;
    

}
.page--img:hover .modal__page--img{
    opacity: 1;
}
