@import '../css/styles.css';
@import '../css/reset.css';
@import '../css/in-css.css';

html{
    font-size: 100%;
    font-family: var(--font-default);
}
body{
    width: 100%;
    height: 100vh;
}
.header__default{
    width: 100%;
    min-height: 100px;
    background: var(--gradient-main);
    color: var(--color-light);
    
}
.header--nav{
    display: flex;
    
    
}
.logo--box{
    width: 30%;
    display: flex;
    justify-content: center;
   
    
}
.logo--trook{
    fill: var(--color-light);
    width: 70%;

    
    
}
.nav--options{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section__container{
    margin: 0 auto;
    max-width: 73%;

}
.section__planning--firstStage{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    
   
    
    margin: 0 auto;
    padding-top: 3rem;
}
.planning__title{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    color: var(--color-main);
    margin-bottom: 3rem;
}
.title--main{
    font-family: var(--font-title);
    font-weight: 700;
    font-size: var(--text-xl);
    margin-right: 1rem;
    

}
.subtitle--main{
    font-size: var(--text-m);
    
}
.question-steps{
    margin: 1rem 0 2rem 0;
}
.step--title{
    color: var(--color-main);
    font-size: var(--text-m);
    font-weight: 500;
}
.step--explain{
    color: var(--color-medium);
    font-style: italic;
    font-size: var(--text-default);
}
.btn-color{
    border: var(--color-main) solid 2px;
    color: var(--color-main);
    padding: 1rem 2rem;
    border-radius: 24px;

}.number--choose{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.question-steps > div{
    margin-top: 2rem;

}
#nDays-1, #nDays-2, #nDays-3, #nDays-4,#nDays-5, #nDays-6, #nDays-7, #nDays-8{
    display: none;
    
}
#nDays-1:checked ~ .bubble--number, 
#nDays-2:checked ~ .bubble--number, 
#nDays-3:checked ~ .bubble--number, 
#nDays-4:checked ~ .bubble--number,
#nDays-5:checked ~ .bubble--number, 
#nDays-6:checked ~ .bubble--number, 
#nDays-7:checked ~ .bubble--number{
    background-color: var(--color-main);
    transition: ease .3s;
}

.bubble--number{
    width: 36px;
    height: 36px;
    background-color: var(--color-medium-light);
    border-radius: 100%;
    color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}
.bubble--number:hover, .bubble--category:hover{
    background-color: var(--color-medium);
    transition: ease-in-out .3s;
}
#nFriends-1, #nFriends-2, #nFriends-3, #nFriends-4, #nFriends-5, #nFriends-6, #nFriends-7, #nFriends-8, #nFriends-9{
    display: none;
}
#nFriends-1:checked ~ .bubble--number, 
#nFriends-2:checked ~ .bubble--number, 
#nFriends-3:checked ~ .bubble--number, 
#nFriends-4:checked ~ .bubble--number,
#nFriends-5:checked ~ .bubble--number,
#nFriends-6:checked ~ .bubble--number,
#nFriends-7:checked ~ .bubble--number,
#nFriends-8:checked ~ .bubble--number {
    background-color: var(--color-main);
    transition: ease .3s;
} 



.bubble--category{
    padding: 1rem 2rem;
    background-color: var(--color-medium-light);
    border-radius:24px;
    margin-right: 1rem;
    margin-top: 1rem;
    color: var(--color-light);
}

#cIndividual, #cPareja, #cFamilia, #cAmigos{
    display: none;
}
#cIndividual:checked ~ .bubble--category, 
#cPareja:checked ~ .bubble--category, 
#cAmigos:checked ~ .bubble--category, 
#cFamilia:checked ~ .bubble--category   {
    background-color: var(--color-main);
    transition: ease .3s;
}
.step__interest{
    display: flex;
    flex-wrap: wrap;
}
.step__interest div{
    margin: 1.5rem 0;
}
#inNature, #inCulture, #inCities, #inLeisure, #inArchitecture, #inActivities,
#inFood, #inArt, #inPhotography, #inPeople, #inReligion, #inCustoms {
    display: none;
}
#inNature:checked ~ .bubble--category,
#inCulture:checked ~ .bubble--category, 
#inCities:checked ~ .bubble--category, 
#inLeisure:checked ~ .bubble--category, 
#inArchitecture:checked ~ .bubble--category, 
#inActivities:checked ~ .bubble--category,
#inFood:checked ~ .bubble--category, 
#inArt:checked ~ .bubble--category, 
#inPhotography:checked ~ .bubble--category, 
#inPeople:checked ~ .bubble--category, 
#inReligion:checked ~ .bubble--category, 
#inCustoms:checked ~ .bubble--category{
    background-color: var(--color-main);
    transition: ease .3s;
}